<div class="container">
  <h1 class="grey-text text-darken-3">Edit Student</h1>
  <form method="post" action="/students/<%= student.id %>">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="student[firstName]" placeholder="Edit first name" value="<%= student.firstName %>">
    <input type="text" name="student[lastName]" placeholder="Edit last name" value="<%= student.lastName %>">
    <input type="text" name="student[age]" placeholder="Edit age" value="<%= student.age %>">
    <input type="text" name="student[year]" placeholder="Edit school year" value="<%= student.year %>">
    <input type="text" name="student[quote]" placeholder="Edit quote" value="<%= student.quote %>">
    <input type="text" name="student[info]" placeholder="Edit info" value="<%= student.info %>">
    <input type="text" name="student[photo]" placeholder="Edit photo" value="<%= student.photo %>">
    <button class="btn #424242 grey darken-3">Update</button>
    <a href="/students/<%= student.id %>"class="btn #424242 grey darken-3">Back</a>
  </form>
</div>