<div class="container">
<div class="row">
<% students.forEach(function(student){ %>
    <div class="col s12 m7 l3">
      <div class="card">
        <div class="card-image">
          <img src="<%= student.photo %>">
        </div>
        <div class="card-content">
          <p><%= student.year %></p>
        </div>
        <div class="card-action">
          <a href="/students/<%=student.id %>"><%= student.firstName %> <%= student.lastName %></a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>


<!-- <div class="container">
  <h1>Students</h1>
  <ul>
    <% students.forEach(function(student){ %>
    <li><h3>Name: <a href="/students/<%=student.id %>"><%= student.firstName %> <%= student.lastName %></a></h3></li>
    <li><img src="<%= student.photo %>"></li>
    <li>Age: <%= student.age %></li>
    <li>School Year: <%= student.year %></li>
    <li>Quote: <%= student.quote %></li>
    <li>Info: <%= student.info %></li>
    <% }); %>
  </ul>
</div> -->